html,
body,
#root {
  width: 100%;
  min-width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

html {
  background: #0b0b0b;
}

body {
  margin: 0;
  overflow-x: hidden;
}

#root {
  width: 100%;
  min-height: 100vh;
}